<textarea class="description">{{this.description}}</textarea>
<button class="up_step btn"><i class="icon-arrow-up"></i></button>
<button class="down_step btn"><i class="icon-arrow-down"></i></button>
<button class="remove_step btn"><i class="icon-remove"></i></button>