<input class="amount" value="{{this.amount}}" placeholder="amount"/>
<input class="measurement" value="{{this.measurement.name}}" />
<input class="ingredient" value="{{this.ingredient.name}}" />
<input class="description" value="{{{this.description}}}" placeholder="description" />
<button class="remove"><i class="icon-remove"></i></button>